<section class="h-screen grid content-center place-items-center grid-flow-col gap-10 justify-center">
    <article class="max-w-xl rounded-lg overflow-hidden shadow-lg border bg-white">
        <div>
            <a [routerLink]="['/personajes']">
                <img class="h-96" src="/assets/dbcharacters.jpg" alt="" />
            </a>
            <div class="flex items-center justify-center px-6 mt-2 pb-6">
                <span class="text-4xl font-extrabold">Personajes</span>
            </div>
        </div>
    </article>
    <article class="max-w-xl rounded-lg overflow-hidden shadow-lg border  bg-white">
        <div>
            <a [routerLink]="['/planetas']">
                <img class="h-96" src="/assets/dbplanets.jpg" alt="" />
            </a>
            <div class="flex items-center justify-center px-6 mt-2 pb-6">
                <span class="text-4xl font-extrabold">Planetas</span>
            </div>
        </div>
    </article>
</section>